/* You can add global styles to this file, and also import other style files */
body {
    background: rgba(211,174,142,0.52) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }


